<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/index3.css">
    <title>GRADE 10</title>
</head>
<body>
    <div id="overlay" class="overlay">
        <div class="overlay-content password-popup">
            <span class="close">&times;</span>
            <div id="popup-content" class="popup-content">
                <img src="static/Logo.png" style="width: 100px; height: 100px; display: block; margin: 0 auto;margin-bottom: 10px;">
                <input type="password" id="password-input" placeholder="Enter password">
                <button id="password-submit">ENTER THE QUIZ</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box" id="box1" data-password="6738">Chemical basis of life</div>
        <div class="box" id="box2" data-password="2945">Motion in a straight</div>
        <div class="box" id="box3" data-password="2465">Structure of matter</div>
        <div class="box" id="box4" data-password="9673">Newtons laws of motion</div>
        <div class="box" id="box5" data-password="8342">Friction</div>
        <div class="box" id="box6" data-password="4865">Structure and functions of the plant and animal cell</div>
        <div class="box" id="box7" data-password="6348">Quantification of elements and compounds</div>
        <div class="box" id="box8" data-password="2347">Characteristics of living organisms</div>
        <div class="box" id="box9" data-password="9563">Resultant force</div>
        <div class="box" id="box10" data-password="9546">Chemical bonds</div>
        <div class="box" id="box11" data-password="2450">Turning effect of a force</div>
        <div class="box" id="box12" data-password="2349">Equilibrium of forces</div>
        <div class="box" id="box13" data-password="9312">Biosphere</div>
        <div class="box" id="box14" data-password="8303">Continuity of life</div>
        <div class="box" id="box15" data-password="4636">Hydrostatic pressure and its applications</div>
        <div class="box" id="box16" data-password="9346">Changes in Matter</div>
        <div class="box" id="box17" data-password="3894">Rate of Reactions</div>
        <div class="box" id="box18" data-password="9412">Work energy and power</div>
        <div class="box" id="box18" data-password="3577">Current electricity</div>
        <div class="box" id="box18" data-password="5437">Inheritance</div>
    </div>
    <button id="refresh-button" style="background-color: yellow; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; position: fixed; top: 20px; right: 20px;">Refresh</button>
<script>
   const boxes = document.querySelectorAll('.box');
    const overlay = document.getElementById('overlay');
    const closeBtn = document.querySelector('.close');
    const popupContent = document.getElementById('popup-content');
    const passwordInput = document.getElementById('password-input');
    const passwordSubmit = document.getElementById('password-submit');
    let currentBoxId = null; 

    boxes.forEach(box => {
        box.addEventListener('click', () => {
            const password = box.getAttribute('data-password');
            if (!password) {
                // If no password is set, show content directly
                showContent(box.id);
            } else {
                // If password is set, show password input overlay
                overlay.style.display = 'block';
                passwordInput.value = '';
                passwordSubmit.onclick = () => {
                    const enteredPassword = passwordInput.value.trim();
                    if (enteredPassword === password) {
                        // If correct password, show content in the overlay
                        showContent(box.id);
                        overlay.style.display = 'none'; // Hide the overlay after showing the content
                    } else {
                        alert('Incorrect password. Please try again.');
                    }
                };
            }
        });
    });

    closeBtn.addEventListener('click', () => {
        overlay.style.display = 'none';
        // Reset the popup content and event listener
        passwordInput.value = '';
        passwordSubmit.onclick = null;
        currentBoxId = null; // Reset the current box id
    });

    overlay.addEventListener('click', (event) => {
        if (event.target === overlay) {
            overlay.style.display = 'none';
            // Reset the popup content and event listener
            passwordInput.value = '';
            passwordSubmit.onclick = null;
            currentBoxId = null; // Reset the current box id
        }
    });

    document.getElementById('refresh-button').addEventListener('click', () => {
        location.reload();
    });

    function showContent(boxId) {
        const content = getDummyText(boxId);
        popupContent.innerHTML = content;
    }
    // Function to get dummy text based on box id
    function getDummyText(boxId) {
        switch (boxId) {
            case 'box1':
                return '<img style="width:1120px;height:583px;" src="static/grade10/chemical.jpg"><center><button style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"><a href="https://forms.gle/Gtn58uMdqrsLbZDS9" style="color: white;">Chemical basis of life</a></button><center>';
            case 'box2':
                return '<img style="width:1120px;height:583px;" src="static/grade10/motion.jpg"><center><button style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"><a href="https://forms.gle/uJJfXLJiTkxs6pF3A" style="color: white;">Motion in a straight</a></button><center>';
            case 'box3':
                return '<img style="width:1120px;height:583px;" src="static/grade8/matter.jpg"><center><button style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"><a href="https://forms.gle/UN85CWBEVAee6UYp8" style="color: white;">Structure of matter</a></button><center>';
            case 'box4':
                return '<img style="width:1120px;height:583px;" src="static/grade9/force.jpg"><center><button style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"><a href="" style="color: white;"></a></button><center>';
            case 'box5':
                return '<img style="width:1120px;height:583px;" src="static/grade9/pressure.jpg"><center><button style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"><a href="" style="color: white;"></a></button><center>';
            default:
                return '<p>No content available.</p>';
        }
    }



</script>
</html>